.app {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 10%;
}

.app-header {
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 70px;
  gap: 25px;
  z-index: 1;
  background: none;
}

.app-wallet {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.41, 0.79, 0, 0.96);

  &:hover {
    fill: rgb(206, 81, 123);
    filter: unset;
  }
}

.app-uniswap {
  width: 68px;
  height: 68px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.41, 0.79, 0, 0.96);
  fill: #fff;

  &:hover {
    fill: rgb(206, 81, 123);
    filter: unset;
  }
}

.app-dextools {
  width: 140px;
  max-height: 68px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.41, 0.79, 0, 0.96);
  fill: #fff;

  &:hover {
    fill: rgb(206, 81, 123);
    filter: unset;
  }
}

.app-content {
  backdrop-filter: blur(5px);
  background-color: rgb(200 142 177 / 59%);
  z-index: 1;
  max-width: 800px;
  border-radius: 15px;
}

.app-cherry {
  position: absolute;
  opacity: 50%;
  z-index: -1;

  &.right {
    transform: scale(0.4) rotate(80deg);
    right: 0;
    top: 0;

    &.top {
      top: -364px;
      right: -455px;
    }
  }

  &.left {
    transform: scale(0.5) rotate(160deg) scaleY(-1);

    &.top {
      top: -200px;
      left: -215px;
    }
  }
}

.app-content-main_container {
  box-shadow: 3px 3px 16px -7px rgba(90, 80, 66, 1);
  width: 500px;
  height: 600px;
  max-height: 80vh;
  border-radius: 15px;
  border: 1px solid #ffb0ce65;

  .content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
  }

  .content-tasks {
    height: 90%;
    overflow-y: auto;
    max-height: 87%;
  }
}

.app-info {
  margin-right: auto;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.41, 0.79, 0, 0.96);
  fill: #fff;
  margin-left: -20px;
  &:hover {
    fill: rgb(206, 81, 123);
    filter: unset;
  }
}

.app-content-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 3px 8px;
  background-color: rgb(174 118 153 / 80%);
  border-radius: 15px 15px 0 0;
}

.app-dexscreener {
  width: 50px;
  max-height: 45px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.41, 0.79, 0, 0.96);
  fill: #fff;

  &:hover {
    fill: rgb(206, 81, 123);
  }
}

.app-leaderboard {
  width: 50px;
  max-height: 45px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.41, 0.79, 0, 0.96);
  fill: #fff;

  &:hover {
    fill: rgb(206, 81, 123);
  }
}

@media only screen and (max-width: 550px) {
  #root {
    max-height: 100vh;
  }

  .app-content-main_container {
    width: 100%;
  }

  .app-content,
  .frame-container {
    width: 95% !important;
    height: 90% !important;
    resize: unset !important;
    min-width: unset !important;
  }

  .frame-grid {
    grid-template-columns: 100px 100px 100px !important;
    gap: 5px !important;
  }

  .frame-grid-el {
    word-break: break-word !important;
    max-height: unset !important;
    font-size: 16px !important;
  }

  .frame-draggable {
    display: none;
  }
}

.frame-claim_btn {
  background-color: rgba(215, 250, 255, 0.835294118);
  display: flex;
  align-items: center;
  padding: 3px 10px;
  margin-left: 5px;
  border-radius: 10px;
  margin-right: -133px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.9);
  }
}
