body {
  flex: 1;
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../public/tsuki-bg.png") no-repeat center scroll;
  background-size: cover;
  position: relative;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
  overflow-y: hidden;
}

@font-face {
  font-family: "RomajiMincho";
  src: local("RomajiMincho"), url(./fonts/RomajiMincho.otf) format("opentype");
}

$mainColor: #efe9db;
$accentColor: #93063e;
